In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf

In [2]:
df = pd.read_excel("./uni.xlsx", sheetname='MS Students')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 560 entries, 0 to 559
Data columns (total 17 columns):
Year of Admission and Batch of the student    560 non-null int64
Gender                                        560 non-null object
Resedential Area and city of origin           560 non-null object
SSC Marks                                     1 non-null float64
HSSC Marks                                    0 non-null float64
Entry Test Score Marks                        539 non-null float64
1st Semester                                  529 non-null float64
2nd Semester                                  311 non-null float64
3rd Semester                                  266 non-null float64
4th Semester                                  137 non-null float64
5th Semester                                  114 non-null float64
6th Semester                                  25 non-null float64
7th Semester                                  14 non-null float64
8th Semester                                  6 non-null float64
9th Semester                                  1 non-null float64
10th Semester                                 1 non-null float64
Cumulative GPA                                560 non-null float64
dtypes: float64(14), int64(1), object(2)
memory usage: 74.5+ KB

/home/muhammadqasim/anaconda3/lib/python3.7/site-packages/pandas/io/excel.py:329: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  **kwds)

In [3]:
df.head()

,Year of Admission and Batch of the student,Gender,Resedential Area and city of origin,SSC Marks,HSSC Marks,Entry Test Score Marks,1st Semester,2nd Semester,3rd Semester,4th Semester,5th Semester,6th Semester,7th Semester,8th Semester,9th Semester,10th Semester,Cumulative GPA
0,2014,M,Karachi,NaN,NaN,39.92,3.33,2.71,0.00,3.67,3.33,1.67,0.0,NaN,NaN,NaN,2.86
1,2014,M,Karachi,NaN,NaN,26.58,2.00,1.78,2.50,1.78,2.67,0.00,0.0,2.0,0.0,0.0,2.64
2,2015,M,Karachi,NaN,NaN,0.00,3.44,2.86,2.67,3.17,4.00,0.00,NaN,NaN,NaN,NaN,3.21
3,2015,F,Karachi,NaN,NaN,0.00,2.22,3.14,2.34,2.67,2.33,0.00,0.0,0.0,NaN,NaN,2.54
4,2015,F,Karachi,NaN,NaN,0.00,3.38,3.55,3.11,2.33,0.00,0.00,NaN,NaN,NaN,NaN,3.24

In [4]:
[(x,len(df[df[x].isna()])) for x in df.columns]

[('Year of Admission and Batch of the student', 0),
 ('Gender', 0),
 ('Resedential Area and city of origin', 0),
 ('SSC Marks', 559),
 ('HSSC Marks', 560),
 ('Entry Test Score Marks', 21),
 ('1st Semester', 31),
 ('2nd Semester', 249),
 ('3rd Semester', 294),
 ('4th Semester', 423),
 ('5th Semester', 446),
 ('6th Semester', 535),
 ('7th Semester', 546),
 ('8th Semester', 554),
 ('9th Semester', 559),
 ('10th Semester', 559),
 ('Cumulative GPA', 0)]

# 1) What is the overall trend of our student's semester-wise performance over the past few years? Are we as faculty doing good with students?

In [5]:
len(df['Cumulative GPA'].unique())

146

In [6]:
df1=df[df['Cumulative GPA']<2.0].groupby(by=['Year of Admission and Batch of the student']).agg(['count'])[['Gender']]
df1.columns = ['CGPA < 2.0']
df1.head()

df2=df[df['Cumulative GPA']>=2.0].groupby(by=['Year of Admission and Batch of the student']).agg(['count'])[['Gender']]
df2.columns = ['CGPA >= 2.0']
df2.head()

                                            CGPA >= 2.0
Year of Admission and Batch of the student
2014                                                  2
2015                                                 14
2016                                                 19
2017                                                108
2018                                                145

In [7]:
df3=df.groupby(by=['Year of Admission and Batch of the student'], 
           sort=[False])[["Cumulative GPA"]].agg(['count','min','max','mean','std'])
df4 = pd.concat([df3,df1,df2], axis=1)

df4.columns = ['Total','Min','Max','Mean','STD','CGPA < 2.0','CGPA >= 2.0']

df4["PassingRatio"] = df4['CGPA >= 2.0'] / df4['Total'] * 100
df4['FailureRatio'] = 100 - df4.PassingRatio
df4

,Total,Min,Max,Mean,STD,CGPA < 2.0,CGPA >= 2.0,PassingRatio,FailureRatio
Year of Admission and Batch of the student,,,,,,,,,
2014,2,2.64,2.86,2.750000,0.155563,NaN,2,100.000000,0.000000
2015,14,2.23,3.24,2.740000,0.317587,NaN,14,100.000000,0.000000
2016,21,1.06,3.74,2.794286,0.631416,2.0,19,90.476190,9.523810
2017,114,0.00,3.98,2.816404,0.626924,6.0,108,94.736842,5.263158
2018,184,0.00,4.00,2.484674,1.222212,39.0,145,78.804348,21.195652
2019,225,0.00,4.00,0.017778,0.266667,224.0,1,0.444444,99.555556

In [8]:
q1=df.groupby(by=['Year of Admission and Batch of the student','Cumulative GPA'], 
           sort=[True, False])[["Gender"]].agg(['count'])

q1 = q1.reset_index()
q1.columns = ['Year','CGPA','NoStudentCounts']
q1.sort_values(by=['Year','NoStudentCounts'], ascending=[True,False])

     Year  CGPA  NoStudentCounts
0    2014  2.64                1
1    2014  2.86                1
2    2015  2.23                1
3    2015  2.36                1
4    2015  2.50                1
5    2015  2.53                1
6    2015  2.54                1
7    2015  2.58                1
8    2015  2.67                1
9    2015  2.69                1
10   2015  2.74                1
11   2015  2.93                1
12   2015  3.01                1
13   2015  3.13                1
14   2015  3.21                1
15   2015  3.24                1
16   2016  1.06                1
17   2016  1.92                1
18   2016  2.15                1
19   2016  2.30                1
20   2016  2.50                1
21   2016  2.52                1
22   2016  2.57                1
23   2016  2.61                1
24   2016  2.65                1
25   2016  2.72                1
26   2016  2.81                1
27   2016  2.91                1
28   2016  2.93                1
29   2016  3.06                1
..    ...   ...              ...
158  2018  2.79                1
159  2018  2.81                1
160  2018  2.83                1
161  2018  2.84                1
164  2018  2.90                1
166  2018  2.94                1
167  2018  2.95                1
168  2018  2.98                1
170  2018  3.02                1
172  2018  3.08                1
173  2018  3.09                1
175  2018  3.11                1
180  2018  3.25                1
181  2018  3.26                1
182  2018  3.28                1
183  2018  3.31                1
186  2018  3.41                1
187  2018  3.44                1
189  2018  3.49                1
191  2018  3.54                1
194  2018  3.60                1
200  2018  3.73                1
201  2018  3.75                1
202  2018  3.78                1
204  2018  3.84                1
205  2018  3.91                1
206  2018  3.93                1
207  2018  3.94                1
209  2019  0.00              224
210  2019  4.00                1

[211 rows x 3 columns]

In [9]:
df.columns

Index(['Year of Admission and Batch of the student', 'Gender',
       'Resedential Area and city of origin', 'SSC Marks', 'HSSC Marks',
       'Entry Test Score Marks', '1st Semester', '2nd Semester',
       '3rd Semester', '4th Semester', '5th Semester', '6th Semester',
       '7th Semester', '8th Semester', '9th Semester', '10th Semester',
       'Cumulative GPA'],
      dtype='object')

In [10]:
for year in df['Year of Admission and Batch of the student'].unique():
    print("===========",year,"=======")
    df1 = df[df['Year of Admission and Batch of the student']==year]
    print("Number of Students:",len(df1))
    df2 = pd.DataFrame(df1['Cumulative GPA'].value_counts())
    df2 = df2.reset_index()
    df2.columns=['CGPA','count']
    print(df2)

=========== 2014 =======
Number of Students: 2
   CGPA  count
0  2.64      1
1  2.86      1
=========== 2015 =======
Number of Students: 14
    CGPA  count
0   2.53      1
1   3.13      1
2   2.23      1
3   2.58      1
4   3.24      1
5   2.69      1
6   3.01      1
7   2.67      1
8   2.54      1
9   2.93      1
10  3.21      1
11  2.74      1
12  2.36      1
13  2.50      1
=========== 2016 =======
Number of Students: 21
    CGPA  count
0   2.91      1
1   2.15      1
2   2.57      1
3   2.61      1
4   3.59      1
5   2.72      1
6   2.93      1
7   3.08      1
8   3.29      1
9   3.17      1
10  2.81      1
11  3.06      1
12  3.74      1
13  2.65      1
14  1.92      1
15  3.67      1
16  2.52      1
17  3.43      1
18  2.30      1
19  1.06      1
20  2.50      1
=========== 2017 =======
Number of Students: 114
    CGPA  count
0   3.00      4
1   2.92      4
2   2.77      4
3   3.09      3
4   3.33      3
5   2.33      3
6   2.89      3
7   2.41      2
8   2.85      2
9   2.70      2
10  3.20      2
11  2.76      2
12  2.14      2
13  3.08      2
14  2.82      2
15  2.71      2
16  3.15      2
17  3.21      2
18  3.24      2
19  3.19      2
20  0.00      2
21  2.61      2
22  2.58      2
23  3.62      1
24  2.53      1
25  2.00      1
26  2.90      1
27  3.26      1
28  2.79      1
29  3.98      1
..   ...    ...
51  2.95      1
52  3.13      1
53  3.76      1
54  1.33      1
55  2.48      1
56  3.67      1
57  3.68      1
58  2.02      1
59  3.59      1
60  3.29      1
61  3.30      1
62  2.80      1
63  2.59      1
64  3.04      1
65  2.63      1
66  2.55      1
67  1.29      1
68  3.80      1
69  3.79      1
70  2.73      1
71  2.83      1
72  3.11      1
73  3.60      1
74  3.78      1
75  2.15      1
76  2.44      1
77  2.43      1
78  2.64      1
79  1.77      1
80  2.10      1

[81 rows x 2 columns]
=========== 2018 =======
Number of Students: 184
    CGPA  count
0   0.00     26
1   4.00      7
2   2.67      7
3   3.00      7
4   3.67      5
5   2.17      4
6   2.77      3
7   3.17      3
8   3.72      3
9   3.33      3
10  2.58      3
11  2.75      3
12  3.46      3
13  2.27      3
14  3.34      3
15  2.33      3
16  3.19      2
17  3.69      2
18  1.92      2
19  2.50      2
20  0.78      2
21  2.00      2
22  3.13      2
23  2.62      2
24  3.58      2
25  3.59      2
26  3.07      2
27  2.92      2
28  2.89      2
29  2.56      2
..   ...    ...
61  2.63      1
62  2.26      1
63  2.66      1
64  2.81      1
65  2.98      1
66  2.79      1
67  1.98      1
68  2.57      1
69  1.27      1
70  2.44      1
71  3.60      1
72  2.29      1
73  2.90      1
74  3.44      1
75  2.54      1
76  2.84      1
77  3.91      1
78  3.28      1
79  2.34      1
80  3.02      1
81  2.43      1
82  3.09      1
83  3.94      1
84  2.04      1
85  2.05      1
86  2.95      1
87  2.30      1
88  3.73      1
89  3.08      1
90  2.55      1

[91 rows x 2 columns]
=========== 2019 =======
Number of Students: 225
   CGPA  count
0   0.0    224
1   4.0      1