In [165]:
import pandas as pd
data2 = {"Name": ["","Ali","Ahmed","Nida",""],
 "Field": ["C","E", "E","C","C"], "Age": ["","","","",""], "Marks": [-90,60,-10,70,75]}

In [166]:
frame = pd.DataFrame(data2)
print(frame)

    Name Field Age  Marks
0            C        -90
1    Ali     E         60
2  Ahmed     E        -10
3   Nida     C         70
4            C         75

In [167]:
frame = frame.drop(['Age'], axis=1)

In [168]:
frame.Name.replace([''], ["---"], inplace=True)

In [169]:
print(frame)

    Name Field  Marks
0    ---     C    -90
1    Ali     E     60
2  Ahmed     E    -10
3   Nida     C     70
4    ---     C     75

In [170]:
frame.Field.replace(['C','E'], [0, 1], inplace=True)
print(frame)

    Name  Field  Marks
0    ---      0    -90
1    Ali      1     60
2  Ahmed      1    -10
3   Nida      0     70
4    ---      0     75

In [171]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
Name     5 non-null object
Field    5 non-null int64
Marks    5 non-null int64
dtypes: int64(2), object(1)
memory usage: 200.0+ bytes

In [172]:
import numpy as np
# frame.Marks[frame.Marks.lt(0)] = np.nan
frame['Marks'][frame['Marks'] < 0] = np.nan
print(frame)

    Name  Field  Marks
0    ---      0    NaN
1    Ali      1   60.0
2  Ahmed      1    NaN
3   Nida      0   70.0
4    ---      0   75.0

/home/inam/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [173]:
frame['Marks'] = frame['Marks'].fillna((frame['Marks'].mean()))

In [174]:
print(frame)

    Name  Field      Marks
0    ---      0  68.333333
1    Ali      1  60.000000
2  Ahmed      1  68.333333
3   Nida      0  70.000000
4    ---      0  75.000000