In [1]:
import pandas as pd

df1 = pd.read_csv('data1.csv', index_col=0)
df2 = pd.read_csv('data2.csv', index_col=1)
print(df1)
print(df2)

   A    B  C
0  1  2.0  3
1  4  5.0  6
4  2  NaN  5
       A  B  C
2      2  5  6
3  Hello  3  4

In [2]:
df3 = pd.concat([df1,df2])
print(df3)

       A    B  C
0      1  2.0  3
1      4  5.0  6
4      2  NaN  5
2      2  5.0  6
3  Hello  3.0  4

In [4]:
df4 = pd.read_csv('data3.csv', index_col=0)
print(df4)

   D  E
1  1  7
4  0  8

In [30]:
df4.to_json('d1.json')

In [31]:
df5 = pd.concat([df3,df4],axis=1)
print(df5)
print(df5.mean())

       A    B  C    D    E
0      1  2.0  3  NaN  NaN
1      4  5.0  6  1.0  7.0
2      2  5.0  6  NaN  NaN
3  Hello  3.0  4  NaN  NaN
4      2  NaN  5  0.0  8.0
B    3.75
C    4.80
D    0.50
E    7.50
dtype: float64

In [33]:
df6 = pd.read_json('d1.json')
print(df6)

   D  E
1  1  7
4  0  8

In [34]:
df7 = pd.concat([df5,df6], ignore_index=True)
print(df7)

       A    B    C    D    E
0      1  2.0  3.0  NaN  NaN
1      4  5.0  6.0  1.0  7.0
2      2  5.0  6.0  NaN  NaN
3  Hello  3.0  4.0  NaN  NaN
4      2  NaN  5.0  0.0  8.0
5    NaN  NaN  NaN  1.0  7.0
6    NaN  NaN  NaN  0.0  8.0

/home/muhammadqasim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [35]:
import numpy as np
df8 = df7.replace('Hello', np.nan)
for col in df8.columns:
    df8[col] = pd.to_numeric(df8[col])
print(df8)

     A    B    C    D    E
0  1.0  2.0  3.0  NaN  NaN
1  4.0  5.0  6.0  1.0  7.0
2  2.0  5.0  6.0  NaN  NaN
3  NaN  3.0  4.0  NaN  NaN
4  2.0  NaN  5.0  0.0  8.0
5  NaN  NaN  NaN  1.0  7.0
6  NaN  NaN  NaN  0.0  8.0

In [36]:
df9 = df8.copy()
for col in df9.columns:
    df9[col] = round(df9[col].fillna((df9[col].mean())), 2)
print(df8)
print(df9)

     A    B    C    D    E
0  1.0  2.0  3.0  NaN  NaN
1  4.0  5.0  6.0  1.0  7.0
2  2.0  5.0  6.0  NaN  NaN
3  NaN  3.0  4.0  NaN  NaN
4  2.0  NaN  5.0  0.0  8.0
5  NaN  NaN  NaN  1.0  7.0
6  NaN  NaN  NaN  0.0  8.0
      A     B    C    D    E
0  1.00  2.00  3.0  0.5  7.5
1  4.00  5.00  6.0  1.0  7.0
2  2.00  5.00  6.0  0.5  7.5
3  2.25  3.00  4.0  0.5  7.5
4  2.00  3.75  5.0  0.0  8.0
5  2.25  3.75  4.8  1.0  7.0
6  2.25  3.75  4.8  0.0  8.0

In [37]:
df9.to_csv('newdatasadam.csv')